#peril{
    color:  #a136ff;
    font-size: 20px;
}
#ponte{
    color: #00c851;
    font-size: 20px;
}

#accouplement{
    color : #ffbb32;
    font-size: 20px;
}

#action{
    color: #33b4e5;
    font-size: 20px;
}
#mort{
font-size: 20px;
}
#souffrance{
color:red;
font-size: 20px;
}